<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AlterarAgendamentoServlet</servlet-name>
        <servlet-class>br.com.apsweb.controller.AlterarAgendamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutenticaLoginServlet</servlet-name>
        <servlet-class>br.com.apsweb.controller.AutenticaLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaNomeAgendamentoServlet</servlet-name>
        <servlet-class>br.com.apsweb.controller.BuscaNomeAgendamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConcluirAgendamentoServlet</servlet-name>
        <servlet-class>br.com.apsweb.controller.ConcluirAgendamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirAgendamentoServlet</servlet-name>
        <servlet-class>br.com.apsweb.controller.ExcluirAgendamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaAgendamentosServlet</servlet-name>
        <servlet-class>br.com.apsweb.controller.ListaAgendamentosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUsuariosServlet</servlet-name>
        <servlet-class>br.com.apsweb.controller.ListaUsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SairServlet</servlet-name>
        <servlet-class>br.com.apsweb.controller.SairServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroUsuarioServlet</servlet-name>
        <servlet-class>br.com.apsweb.controller.CadastroUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaAgendamentoServlet</servlet-name>
        <servlet-class>br.com.apsweb.controller.AdicionaAgendamentoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlterarAgendamentoServlet</servlet-name>
        <url-pattern>/AlterarAgendamentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutenticaLoginServlet</servlet-name>
        <url-pattern>/AutenticaLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaNomeAgendamentoServlet</servlet-name>
        <url-pattern>/BuscaNomeAgendamentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConcluirAgendamentoServlet</servlet-name>
        <url-pattern>/ConcluirAgendamentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirAgendamentoServlet</servlet-name>
        <url-pattern>/ExcluirAgendamentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaAgendamentosServlet</servlet-name>
        <url-pattern>/ListaAgendamentosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaUsuariosServlet</servlet-name>
        <url-pattern>/ListaUsuariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SairServlet</servlet-name>
        <url-pattern>/SairServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroUsuarioServlet</servlet-name>
        <url-pattern>/CadastroUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaAgendamentoServlet</servlet-name>
        <url-pattern>/AdicionaAgendamentoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
